:root{
  --main_blue: #3C4AC6;
  --bg_blue: #3c4ac62e;
  --bg_blue_2: #3c4ac6a4;
  --border_radius: 10px;
  --main_maroon: #cd003a;
}

*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
}

html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: .8fr 3fr;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: flexbox;
  text-align: center;
  overflow-y: auto;
}

#h1{
  color: black;
}
#h2{
  color: black;
}

.message-container {
  margin-bottom: 20px;
}

.card-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  font-size: x-large;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 150px;
  min-height: fit-content;
  background-color: #3C4AC6;
  margin: 10px;
  border-radius: 25px;
}

#result{
  text-align: center;
  font-size: small;
}
.card button {
  margin-bottom: 10px;
  color: black;
  border-radius: 25px;
  border: none;
  background-color: #242D7D;
  padding: 10px;
  font-size: large;
  height: 50px;
  width: 165px;
}

.question{
  text-align: center;
  font-size: medium;
}

.answers{
  display: flex;
  flex-direction: column;
}
#history{
  overflow-y: auto;
  height: 200px;
}

#addNew{
  background-color: transparent;
}

#addNew h3, #addNew a{
  color: black;
}

#addNew a{
  font-size: 5rem;
  text-decoration: none;
  height: fit-content;
  width: 5rem;
  transition: all .15s ease;
  border-radius: var(--border_radius);
}

#addNew a:hover{
  background-color: rgba(0, 0, 0, 0.292);
}

#top-drink{
  background: linear-gradient(120deg, var(--main_blue), var(--main_maroon));
}

#top-bar{
  background: linear-gradient(30deg, var(--main_maroon), var(--main_blue));
}

#daily-quiz{
  height: 100px;
  margin-top: 7rem;
  background: linear-gradient(45deg, var(--main_blue), var(--main_maroon));
}

#history{
  background: linear-gradient(120deg, var(--main_maroon), var(--main_blue));
}