<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../Styles/dashboard.css">
  <link rel="stylesheet" type="text/css" href="../Styles/navbar.css">
  <script src="../JS/dashboard.js" type="module"></script>
</head>
<body>
  <main class="dashboard">
    <header class="message-container">
      <h1 id="h1">Hey John, what did you have this time?</h1>
      <h2 id="h2">Where have you been dopping?</h2>
    </header>
    <section class="card-container">
      <card id="top-drink" class="card">Top Drink</card>
      <card id="top-bar" class="card">Top Bar</card>
      <card id="spending" class="card">Spending</card>
      <card id="daily-quiz" class="card">Daily Quiz</card>
      <card id="history" class="card">History</card>
    </section>
  </main>

</body>
</html>