<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Dop</title>
    <link rel="stylesheet" href="../Styles/entry_ss.css">
    <link rel="stylesheet" href="../Styles/navbar.css">
    <script src="../JS/entry.js" type="module"></script>
</head>
<body>
    <main>
      <form>
        <section id="drinkEntry">
          <label for="drink"box-sizing: border-box;>Drink</label>
          <input type="text" name="drink" maxlength="50" required>
          <label for="cost">Cost</label>
          <input type="number" name="cost" max="10000" min="1" required>
        </section>
        <section id="locationEntry">
          <label for="location">Location</label>
          <textarea name="location" cols="30" rows="10" required></textarea>
        </section>
        <img src="../Images/bar-counter.png" alt="bar counter">
        <section><button type="submit">Add Entry</button></section>
      </form>
    </main>
</body>
</html>