<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" href="../Styles/faq_ss.css">
  <link rel="stylesheet" href="../Styles/navbar.css">
  <script src="../JS/faq.js" type="module"></script>
</head>
<body>
  <main>
    <h1>FAQ's</h1>
    <ul>
      <li class="title"><h2>Drinks</h2></li>
      <article>
        <ul>
          <li>
            <h3>- Can I add my own concoction?</h3>
            <p>Yes! Train your memory is about adding your uniqueness and remembering who you are, as well as training yourself to keep a better eye on your spending ;)</p>
          </li>
          <li>
            <h3>- Can I have more than one drink?</h3>
            <p>Yes! Keep track of all the drinks you've had and continue to have throughout the night!</p>
          </li>
          <li>
            <h3>- Who can see my drinks?</h3>
            <p>Only your friends! Your privacy is important to us, we don't need to know, you need to know! To Train!</p>
          </li>
          <li>
            <h3>- Is there a limit?</h3>
            <p>Winners never quit ;)</p>
          </li>
        </ul>
      </article>
      <li class="title"><h2>Locations</h2></li>
      <article>
        <ul>
          <li>
            <h3>- Can anyone see my location?</h3>
            <p>Nope! Literally no one.</p>
          </li>
          <li>
            <h3>- Can I have drinks at the same location over a period of time?</h3>
            <p>Yes! Train your memory allows you to analyse and learn your drinking habits, good or bad. You can log drinks at the same location, 2 weeks apart.</p>
          </li>
          <li>
            <h3>- What locations are available?</h3>
            <p>Whatever you want to enter! Your mom's house, bff or S/O, all yours to choose from!</p>
          </li>
        </ul>
      </article>
      <li class="title"><h2>My History</h2></li>
      <article>
        <ul>
          <li>
            <h3>- What is my history?</h3>
            <p>The history is the past occurences of a drink, location and price that you logged on the application, showing the last most recent</p>
          </li>
        </ul>
      </article>
      <li class="title"><h2>Friends</h2></li>
      <article>
        <ul>
          <li>
            <h3>- How do I add a friend?</h3>
            <p>Go to friends and click the 'Add Friend' Button, this will send them an invite link via and email and will </p>
          </li>
          <li>
            <h3>- What information can I see of my friend?</h3>
            <p>You can see their last drink and if their top drink! It might show some cool sparkles if you match on top drinks eekkk!</p>
          </li>
        </ul>
      </article>
      <li class="title"><h2>Misc</h2></li>
      <article>
        <ul>
          <li>
            <h3>tl;dr</h3>
            <p>¯\_(ツ)_/¯</p>
          </li>
        </ul>
      </article>
    </ul>
  </main>
</body>
</html>