<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" href="../Styles/faq_ss.css">
</head>
<body>
  <nav>Thabangs menu</nav>
  <main>
    <h1>FAQ's</h1>
    <ul>
      <li>Drinks</li>
      <article></article>
      <li>Locations</li>
      <article></article>
      <li>My History</li>
      <article></article>
      <li>Friends</li>
      <article></article>
      <li>Misc</li>
      <article></article>
    </ul>
  </main>
</body>
</html>