<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" href="../Styles/faq_ss.css">
  <script src="../JS/faq.js"></script>
</head>
<body>
  <nav>Thabangs menu</nav>
  <main>
    <h1>FAQ's</h1>
    <ul>
      <li class="title"><h2>Drinks</h2></li>
      <article>
        <ul>
          <li>
            <h3>- Can I add my own concoction?</h3>
            <p>Yes! Train your memory is about adding your uniqueness and remembering who you are, as well as training yourself to keep a better eye on your spending ;)</p>
          </li>
          <li>
            <h3>- Can I have more than one drink?</h3>
            <p>Yes! Keep track of all the drinks you've had and continue to have throughout the night!</p>
          </li>
          <li>
            <h3>- Who can see my drinks?</h3>
            <p>Only your friends! Your privacy is important to us, we don't need to know, you need to know! To Train!</p>
          </li>
          <li>
            <h3>- Is there a limit?</h3>
            <p>Winners never quit ;)</p>
          </li>
        </ul>
      </article>
      <li class="title"><h2>Locations</h2></li>
      <article></article>
      <li class="title"><h2>My History</h2></li>
      <article></article>
      <li class="title"><h2>Friends</h2></li>
      <article></article>
      <li class="title"><h2>Misc</h2></li>
      <article></article>
    </ul>
  </main>
</body>
</html>