<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Friends</title>
  <link rel="stylesheet" href="./history_ss.css">
  <link rel="stylesheet" href="./navbar.css">
  <script src="./friends.js" type="module"></script>

</head>
<body>
  <main>
    <h1>Your Friends, Brah:</h1>
    <table>
      <thead>
        <tr>
            <th>Name:</th>
        </tr>  
      </thead>
      <tbody>
      </tbody>
    </table>
  </main>
</body>
</html>