<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Locations</title>
  <link rel="stylesheet" href="../Styles/history_ss.css">
  <link rel="stylesheet" href="../Styles/navbar.css">
  <script src="../JS/locations.js" type="module"> </script>
</head>
<body>
  <main>
    <h1>Your Locations, Brah:</h1>
    <table>
      <thead>
        <tr>
          <th>Date:</th>
          <th>Location:</th>
        </tr>  
      </thead>
      <tbody>
      </tbody>
    </table>
  </main>
</body>
</html>