<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./login_ss.css">
    <script src="./login.js"></script>
</head>
<body>
    <main>
        <!-- Preventing default and will make request using google -->
        <form>
            <img src="./beer.png" alt="TM Logo">
            <h1>Train your memory</h1>
            <button>Login with google <img src="./google.png" alt="Google icon"></button>
            <ul>
                <li><a href="/auth/google">Login</a></li>
                <li><a href="/secret">Secret</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </form>
    </main>
</body>
</html>