<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./login_ss.css">
    <script src="./login.js"></script>
</head>
<body>
    <main>
        <!-- Preventing default and will make request using google -->
        <form action="/auth/google" method="get">
            <img src="./beer.png" alt="TM Logo">
            <h1>Train your memory</h1>
            <button>Login with google <img src="./google.png" alt="Google icon"></button>
        </form>
    </main>
</body>
</html>